{# src/Acme/TaskBundle/Resources/views/Form/fields.html.twig #}
{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form,null,{'label_attr':{'class':'col-lg-2 control-label'}}) }}
            {{ form_errors(form) }}
            <div class="col-lg-10">
            {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block submit_widget %}
{% spaceless %}
    {% set type = type|default('submit') %}
<div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
    {{ block('button_widget') }}
            </div>
        </div>
{% endspaceless %}
{% endblock submit_widget %}

{% block checkbox_widget %}
{% spaceless %}
<div class="checkbox">
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
</div>
{% endspaceless %}
{% endblock checkbox_widget %}