<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ asset('favicon.png')}}">

        <title>Walacik Systems Inc.</title>

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{asset('css/backend.css')}}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Walacik Inc</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{path('blog')}}">Blog</a></li>
                    <li><a href="{{path('disease')}}">Zarządzaj chorobami</a></li>
                    <li><a href="{{path('bed')}}">Zarządzaj łóżkami</a></li>
                    <li><a href="{{path('user')}}">Zarządzaj użytkownikami</a></li>
                    <li><a href="{{path('patient')}}">Zarządzaj pacjentami</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{path('walacik_forum_default_index')}}">Forum</a></li>
                    <li><a href="{{path('walacik_forum_blog_index')}}">Blog</a></li>
                    <li><a href="{{path('fos_user_security_logout')}}">Wyloguj</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
            {% block content %}
            {% endblock %}

          {% block javascripts %}
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    {% endblock %}
    </body>
</html>