{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>Edycja użytkownika</h1>

    {{ form(edit_form) }}
    <hr />
        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Powrót do listy
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}