{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}

{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}
    <h1>Dodawnie użytkownika</h1>

    {{ form(form) }}
<hr />
        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Powrót do listy
        </a>
    </li>
</ul>
{% endblock %}