{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>Użytkownik</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nazwa użytkownika</th>
                <td>{{ entity.username }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Powrót do listy
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
            Edycja
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
