{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>Edycja wpisu</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('blog') }}">
            Powrót do listy
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
