{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>Wpisy na blogu</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tytuł</th>
                <th>Data dodania</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('blog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tytul }}</td>
                <td>{% if entity.datadodania %}{{ entity.datadodania|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('blog_show', { 'id': entity.id }) }}">pokaż</a>
                    </li>
                    <li>
                        <a href="{{ path('blog_edit', { 'id': entity.id }) }}">edytuj</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('blog_new') }}">
                Stwórz nowy wpis
            </a>
        </li>
    </ul>
    {% endblock %}
