{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>Wpis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Tytul</th>
                <td>{{ entity.tytul }}</td>
            </tr>
            <tr>
                <th>Treść</th>
                <td>{{ entity.tresc }}</td>
            </tr>
            <tr>
                <th>Data dodania</th>
                <td>{{ entity.datadodania|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('blog') }}">
            Powrót do listy
        </a>
    </li>
    <li>
        <a href="{{ path('blog_edit', { 'id': entity.id }) }}">
            Edycja
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
