{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>Edycja łóżka</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('bed') }}">
            Powrot do listy
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
