{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>Lista łóżek</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('bed_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('bed_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('bed_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('bed_new') }}">
                Dodaj nowe łóżko
            </a>
        </li>
    </ul>
    {% endblock %}
