{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>Dodawanie łóżka</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('bed') }}">
            Powrót do listy
        </a>
    </li>
</ul>
{% endblock %}
