<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('favicon.png')}}">

    <title>Walacik Systems Inc.</title>

    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{asset('css/frontend.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Walacik Systems Inc</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_LEKARZ') or is_granted('ROLE_PIELEGNIARKA') %}
                    <li><a href="{{path('walacik_forum_default_index')}}">Forum</a></li>
                    <li><a href="{{path('walacik_forum_blog_index')}}">Blog</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{path('walacik_admin_default_index')}}">Panel administracyjny</a></li>
                {% endif %}
                    {% if app.user %}
                  <li><a href="{{path('fos_user_security_logout')}}">Wyloguj</a></li>
                  {% else %}
                     <li><a href="{{path('fos_user_security_login')}}">Zaloguj</a></li>
                  {% endif %}
               </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
       {% block content %}

        {% endblock %}
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    <script>
        $(document).ready(function(){
        //Handles menu drop down
        $('.dropdown-menu').find('form').click(function (e) {
            e.stopPropagation();
        });
    });
    </script>
    {% endblock %}
  </body>
</html>
