{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
<div>{{ error|trans }}</div>
{% endif %}


<div class="row">
    <div class="col-md-4 col-md-offset-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-lock"></span> Login</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Nazwa użytkownika</label>
                        <div class="col-sm-9">
                            <input type="text" value="{{ last_username }}" name="_username" class="form-control" id="inputEmail3" placeholder="Nazwa użytkownika" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">
                            Hasło</label>
                        <div class="col-sm-9">
                            <input type="password" name="_password" class="form-control" id="inputPassword3" placeholder="Hasło" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="_remember_me" value="on" />
                                    Zapamiętaj mnie
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" name="_submit" class="btn btn-success btn-sm">
                                Zaloguj</button>
                            <button type="reset" class="btn btn-default btn-sm">
                                Reset</button>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                </form>
            </div>
            <div class="panel-footer">
                Walacik Inc | <a href="{{path('walacik_frontend_default_index')}}">Powrót na stronę główną</a></div>
            
        </div>
    </div>
</div>
{% endblock fos_user_content %}
