<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}" />
        <style>
                        body { 
              background: url(http://lorempixel.com/1920/1920/city/9/) no-repeat center center fixed; 
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
            }

            .panel-default {
            opacity: 0.9;
            margin-top:30px;
            }
            .form-group.last { margin-bottom:0px; }
        </style>
    </head>
    <body>    
<div class="container">
    {% for type, messages in app.session.flashbag.all() %}
            {% for key, message in messages %}
                <div class="flash-{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
</div>
    </body>
</html>