{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>Patient edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('patient') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
