{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>Lista pacjentów</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('patient_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.imie }}</td>
                <td>{{ entity.nazwisko }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('patient_show', { 'id': entity.id }) }}">pokaż</a>
                    </li>
                    <li>
                        <a href="{{ path('patient_edit', { 'id': entity.id }) }}">edytuj</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('patient_new') }}">
                Dodaj nowego pacjenta
            </a>
        </li>
    </ul>
    {% endblock %}
