{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>Pacjent</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Imię</th>
                <td>{{ entity.imie }}</td>
            </tr>
            <tr>
                <th>Nazwisko</th>
                <td>{{ entity.nazwisko }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('patient') }}">
            Powrót do listy
        </a>
    </li>
    <li>
        <a href="{{ path('patient_edit', { 'id': entity.id }) }}">
            Edycja
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
