{% extends "WalacikFrontendBundle::layout.html.twig" %}

{% block content %}
          <div class="starter-template">
        <h1>Walacik INC</h1>
        <p class="lead">Witamy w systemie zarządzania szpitalem</p>
      </div>
{% endblock %}