{% extends "WalacikForumBundle::layout.html.twig" %}

{% block content %}
<div class="container">
    {% if entries is not null %}
    {% for entry in entries%}
    <div class="row">
        <div class="col-sm-4">
            <h3>{{entry.tytul}}</h3>
            <hr>
            <address>
                <strong>Data dodania: </strong> {{entry.datadodania|date('Y-m-d H:i:s')}}<br><br>
                
            </address>
        </div>

        <div class="col-sm-8 contact-form">
            {{entry.tresc}}
        </div>
    </div>
    {% endfor %}
    {% else %}
    Brak wpisów na blogu
    {% endif %}
</div>
{% endblock %}

{% block stylesheets %}
{{parent()}}
                <style>
                    .contact-form {
                        margin-top:70px;
                    }
                </style>
{% endblock %}