{% extends "WalacikForumBundle::layout.html.twig" %}

{% block content %}
<div class="container">
    {% if beds is not null %}
    {% for bed in beds %}
        {% if loop.index0 is even %}
    <div class="row">
        {% endif %}
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-12 col-md-9 section-box">
                        <h2>
                            {% if bed.patient is null%}Brak pacjenta{% else %}{{bed.patient}}{% endif%}<a href="http://bootsnipp.com/" target="_blank"><span class="glyphicon glyphicon-new-window">
                                </span></a>
                        </h2>
                        <p>
                            Choroby:
                            {% if bed.patient is not null %}
                            {% if bed.patient.diseases is not null %}
                        <ul>
                    {% for disease in bed.patient.diseases %}    
                            <li>{{disease}}</li>
                     {% endfor %}
                        </ul>
                            {% endif %}
                        {% endif %}
                        </p>
                        <hr />
                        <div class="row rating-desc">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-comment"></span><a href="{{path('walacik_forum_default_show',{'id' : bed.id})}}">Komentuj</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        {% if loop.index0 is even %}
    </div>
        {% endif %}

    {% endfor %}
    {% endif %}
</div>
{% endblock %}