{% extends "WalacikForumBundle::layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <th>Imię i nazwisko pacjenta</th>
                <th>Zdiagnozowane choroby</th>
            </thead>
            <tbody>
                {% if bed.patient is not null %}
                <tr>
                    <td>{{bed.patient}}</td>
                    <td>Choroby:
                    {% if bed.patient.diseases is not null %}
                        <ul>
                            {% for disease in bed.patient.diseases %}
                            <li>{{disease}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
    <div class="row">
		<div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{form(commentBox)}}{#
                    <form accept-charset="UTF-8" action="" method="POST">
                        <textarea class="form-control counted" name="message" placeholder="Wpisz swój komentarz" rows="5" style="margin-bottom:10px;"></textarea>
                        <button class="btn btn-info" type="submit">Dodaj nowy komentarz</button>
                    </form>
                    #}
                </div>
            </div>
        </div>
	</div>
{% if comments is not null %}    
<div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Komentarze</h3>
                <span class="label label-info">
                    {{comments|length}}</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for comment in comments %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12 col-md-11">
                                <div>
                                    <div class="mic-info">
                                        By: <a href="#">{{comment.author.email}}</a> {#{comment.datadodania}#}
                                    </div>
                                </div>
                                <div class="comment-text">
                                    {{comment.tresc}}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block stylesheets %}
{{parent()}}
<style>
    .widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
</style>
{% endblock %}