{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}
    <h1>Disease list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('disease_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nazwa }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('disease_show', { 'id': entity.id }) }}">pokaż</a>
                    </li>
                    <li>
                        <a href="{{ path('disease_edit', { 'id': entity.id }) }}">edytuj</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('disease_new') }}">
                Dodaj nową chorobę
            </a>
        </li>
    </ul>
    {% endblock %}
