{% extends 'WalacikAdminBundle::layout.html.twig' %}

{% block content -%}

{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}
    <h1>Dodawnie choroby</h1>

    {{ form(form) }}
<hr />
        <ul class="record_actions">
    <li>
        <a href="{{ path('disease') }}">
            Powrót do listy
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
{{parent()}}
{{ tinymce_init() }}
{% endblock %}